# Copier ce fichier en .env.local et adapter les valeurs

APP_ENV=dev
APP_SECRET=changez_moi_avec_une_valeur_aleatoire_de_32_caracteres

# PostgreSQL
DATABASE_URL="postgresql://db_user:db_password@127.0.0.1:5432/bmanager?serverVersion=15&charset=utf8"

# Mailer (pour la vérification d'email à l'inscription)
MAILER_DSN=smtp://localhost

# Messenger (peut rester en synchrone en dev)
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
