{{ form_start(form, {'attr': {'class': 'project-form needs-validation'}}) }}

    {{ form_widget(form) }}

    <div style="margin-top: 8px;">
        <button type="submit" class="btn-glass">
            <i class="fa-solid fa-check"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>

{{ form_end(form) }}
